In [1]:
#importing libraries
import pandas as pd

In [2]:
#Reading the dataset
data=pd.read_csv('employee.csv')
data.shape

(1470, 35)

In [3]:
# lets check the head of the dataset
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

### Simple Filtering Operations

In [10]:
# Employees who are working more than 35 years at the company
data[data['YearsAtCompany'] > 35]

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
98,58,No,Travel_Rarely,682,Sales,10,4,Medical,1,131,...,3,80,0,38,1,2,37,10,1,8
126,58,Yes,Travel_Rarely,147,Research & Development,23,4,Medical,1,165,...,4,80,1,40,3,2,40,10,15,6
270,55,No,Travel_Rarely,452,Research & Development,1,3,Medical,1,374,...,3,80,0,37,2,3,36,10,4,13
1116,55,No,Travel_Rarely,685,Sales,26,5,Marketing,1,1578,...,3,80,1,36,3,3,36,6,2,13

In [14]:
# employees who get more than 19000 dollars
data[data['MonthlyIncome'] > 19000]

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
25,53,No,Travel_Rarely,1282,Research & Development,5,3,Other,1,32,...,4,80,1,26,3,2,14,13,4,8
45,41,Yes,Travel_Rarely,1360,Research & Development,12,3,Technical Degree,1,58,...,4,80,0,23,0,3,22,15,15,8
123,51,No,Travel_Rarely,684,Research & Development,6,3,Life Sciences,1,162,...,3,80,0,23,5,3,20,18,15,15
165,50,No,Travel_Rarely,1452,Research & Development,11,3,Life Sciences,1,226,...,2,80,0,21,5,3,5,4,4,4
186,40,No,Travel_Rarely,989,Research & Development,4,1,Medical,1,253,...,2,80,1,21,2,3,20,8,9,9
190,52,No,Travel_Rarely,699,Research & Development,1,4,Life Sciences,1,259,...,1,80,1,34,5,3,33,18,11,9
231,42,No,Travel_Rarely,532,Research & Development,4,2,Technical Degree,1,319,...,4,80,0,22,3,3,22,17,11,15
233,50,No,Travel_Rarely,854,Sales,1,4,Medical,1,323,...,3,80,1,32,3,2,7,0,0,6
237,52,No,Non-Travel,771,Sales,2,4,Life Sciences,1,329,...,4,80,0,33,2,4,33,7,15,12
244,45,No,Travel_Rarely,252,Research & Development,1,3,Other,1,336,...,3,80,1,25,2,3,24,0,1,7
257,40,No,Travel_Rarely,1416,Research & Development,2,2,Medical,1,352,...,4,80,1,22,5,3,21,7,3,9
270,55,No,Travel_Rarely,452,Research & Development,1,3,Medical,1,374,...,3,80,0,37,2,3,36,10,4,13
279,50,No,Travel_Rarely,797,Research & Development,4,1,Life Sciences,1,385,...,1,80,2,28,4,2,10,4,1,6
326,39,No,Travel_Frequently,672,Research & Development,7,2,Medical,1,444,...,1,80,1,21,2,3,21,9,13,3
392,54,No,Travel_Rarely,821,Research & Development,5,2,Medical,1,522,...,3,80,1,24,4,2,4,2,1,2
400,39,No,Travel_Frequently,1218,Research & Development,1,1,Life Sciences,1,531,...,3,80,1,21,3,3,21,8,1,6
411,60,No,Travel_Rarely,422,Research & Development,7,3,Life Sciences,1,549,...,4,80,0,33,5,1,29,8,11,10
473,49,No,Travel_Rarely,1245,Research & Development,18,4,Life Sciences,1,638,...,3,80,1,31,5,3,31,9,0,9
497,44,No,Travel_Rarely,1315,Research & Development,3,4,Other,1,671,...,1,80,1,26,2,4,2,2,0,1
535,41,No,Travel_Rarely,427,Human Resources,10,4,Human Resources,1,731,...,2,80,3,23,2,2,21,6,12,6
538,41,No,Travel_Rarely,314,Human Resources,1,3,Human Resources,1,734,...,2,80,1,22,3,3,22,7,2,10
568,55,Yes,Travel_Rarely,725,Research & Development,2,3,Medical,1,787,...,4,80,1,24,2,3,5,2,1,4
595,58,Yes,Travel_Rarely,286,Research & Development,2,4,Life Sciences,1,825,...,4,80,0,40,2,3,31,15,13,8
716,41,No,Travel_Frequently,840,Research & Development,9,3,Medical,1,999,...,2,80,1,21,2,4,18,16,0,11
746,41,No,Non-Travel,247,Research & Development,7,1,Life Sciences,1,1035,...,2,80,2,21,3,3,21,16,5,10
749,52,Yes,Travel_Rarely,266,Sales,2,1,Marketing,1,1038,...,4,80,1,33,3,3,32,14,6,9
766,50,No,Travel_Rarely,1464,Research & Development,2,4,Medical,1,1061,...,4,80,1,29,2,2,8,1,7,7
770,46,No,Travel_Rarely,430,Research & Development,1,4,Medical,1,1069,...,4,80,2,23,0,3,2,2,2,2
814,40,No,Travel_Rarely,1308,Research & Development,14,3,Medical,1,1128,...,1,80,0,21,2,4,20,7,4,9
851,56,No,Travel_Rarely,718,Research & Development,4,4,Technical Degree,1,1191,...,4,80,1,28,2,3,5,2,4,2
869,46,No,Travel_Rarely,1450,Research & Development,15,2,Life Sciences,1,1217,...,1,80,1,25,2,3,4,2,0,3
898,43,No,Travel_Rarely,920,Research & Development,3,3,Life Sciences,1,1255,...,2,80,1,25,2,3,8,7,0,7
918,51,No,Travel_Frequently,237,Sales,9,3,Life Sciences,1,1282,...,1,80,1,31,5,2,29,10,11,10
922,44,No,Travel_Rarely,1199,Research & Development,4,2,Life Sciences,1,1288,...,4,80,2,26,4,2,25,9,14,13
955,55,No,Travel_Rarely,282,Research & Development,2,2,Medical,1,1336,...,4,80,1,23,5,3,19,9,9,11
956,56,No,Travel_Rarely,206,Human Resources,8,4,Life Sciences,1,1338,...,1,80,0,36,4,3,7,3,7,7
1009,58,No,Travel_Rarely,1055,Research & Development,1,3,Medical,1,1423,...,3,80,1,32,3,3,9,8,1,5
1116,55,No,Travel_Rarely,685,Sales,26,5,Marketing,1,1578,...,3,80,1,36,3,3,36,6,2,13
1126,50,No,Travel_Rarely,264,Sales,9,3,Marketing,1,1591,...,3,80,1,27,2,3,1,0,0,0
1129,42,No,Travel_Rarely,1059,Research & Development,9,2,Other,1,1595,...,4,80,0,24,2,3,1,0,0,1
1140,44,No,Travel_Rarely,1313,Research & Development,7,3,Medical,1,1608,...,4,80,1,23,4,2,22,7,1,10
1154,47,No,Travel_Rarely,1176,Human Resources,26,4,Life Sciences,1,1625,...,3,80,1,27,2,3,5,2,1,0
1242,40,No,Travel_Rarely,611,Sales,7,4,Medical,1,1740,...,2,80,0,21,3,2,21,8,12,8
1264,55,No,Travel_Rarely,478,Research & Development,2,3,Medical,1,1770,...,2,80,3,34,2,3,1,0,0,0
1277,46,No,Travel_Rarely,734,Research & Development,2,4,Medical,1,1789,...,3,80,1,24,3,3,2,1,2,2
1330,43,No,Travel_Rarely,823,Research & Development,6,3,Medical,1,1866,...,4,80,0,21,2,3,16,12,6,14
1331,48,No,Travel_Rarely,1224,Research & Development,10,3,Life Sciences,1,1867,...,4,80,0,29,3,3,22,10,12,9
1377,49,No,Travel_Frequently,1064,Research & Development,2,1,Life Sciences,1,1941,...,4,80,0,28,3,3,5,4,4,3
1401,55,No,Travel_Rarely,189,Human Resources,26,4,Human Resources,1,1973,...,1,80,1,35,0,3,10,9,1,4
1437,39,No,Non-Travel,105,Research & Development,9,3,Life Sciences,1,2022,...,3,80,0,21,3,2,6,0,1,3