In [1]:
#importing libraries
import pandas as pd

In [2]:
#Reading the dataset
data=pd.read_csv('employee.csv')
data.shape

(1470, 35)

In [3]:
# lets check the head of the dataset
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

### Advanced Filtering Operations

In [7]:
# Filter all the employees who are getting lesser than average salary even after working for more than 10 years in the same role.
avg=data['MonthlyIncome'].mean()
data[(data['YearsInCurrentRole']>10) & (data['MonthlyIncome']<avg)]

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
76,35,No,Travel_Rarely,776,Sales,1,4,Marketing,1,100,...,2,80,0,16,2,3,15,13,2,8
83,38,No,Non-Travel,573,Research & Development,6,3,Medical,1,107,...,4,80,3,17,3,3,13,11,1,9
103,34,No,Travel_Rarely,665,Research & Development,6,4,Other,1,138,...,3,80,0,16,3,3,16,13,2,10
137,39,No,Travel_Rarely,1329,Sales,4,4,Life Sciences,1,182,...,3,80,1,17,1,4,15,11,5,9
220,36,No,Travel_Rarely,1396,Research & Development,5,2,Life Sciences,1,304,...,4,80,0,16,3,4,13,11,3,7
269,36,No,Travel_Rarely,1403,Research & Development,6,3,Life Sciences,1,373,...,3,80,1,16,4,3,15,13,10,11
281,42,No,Travel_Rarely,635,Sales,1,1,Life Sciences,1,387,...,3,80,0,20,3,3,20,16,11,6
285,37,No,Travel_Rarely,1372,Research & Development,1,3,Life Sciences,1,391,...,2,80,0,17,3,3,17,12,5,7
319,32,No,Travel_Rarely,588,Sales,8,2,Technical Degree,1,436,...,4,80,0,13,2,3,13,12,11,9
398,37,No,Non-Travel,1063,Research & Development,25,5,Medical,1,529,...,1,80,2,15,2,3,13,11,10,7
600,32,No,Travel_Rarely,859,Research & Development,4,3,Life Sciences,1,830,...,3,80,1,14,3,3,14,13,6,8
621,36,No,Travel_Rarely,928,Sales,1,2,Life Sciences,1,857,...,4,80,1,18,1,2,18,14,4,11
686,41,No,Travel_Rarely,263,Research & Development,6,3,Medical,1,957,...,3,80,0,20,3,3,18,13,2,17
752,36,Yes,Travel_Rarely,885,Research & Development,16,4,Life Sciences,1,1042,...,3,80,0,18,1,3,17,13,15,14
778,46,No,Travel_Rarely,1003,Research & Development,8,4,Life Sciences,1,1080,...,1,80,3,19,2,3,16,13,1,7
875,44,No,Travel_Rarely,200,Research & Development,29,4,Other,1,1225,...,2,80,0,20,3,3,20,11,13,17
927,36,No,Travel_Rarely,429,Research & Development,2,4,Life Sciences,1,1294,...,4,80,0,18,2,3,16,14,5,12
978,40,No,Travel_Rarely,1202,Research & Development,2,1,Medical,1,1375,...,2,80,3,15,0,3,12,11,11,8
1095,33,No,Travel_Rarely,589,Research & Development,28,4,Life Sciences,1,1549,...,2,80,1,15,3,3,15,14,5,7
1150,35,No,Travel_Rarely,819,Research & Development,18,5,Life Sciences,1,1621,...,4,80,0,16,2,3,16,15,1,10
1157,35,No,Non-Travel,208,Research & Development,8,4,Life Sciences,1,1630,...,4,80,1,15,5,3,14,11,2,9
1187,38,No,Travel_Frequently,1189,Research & Development,1,3,Life Sciences,1,1668,...,4,80,2,19,4,4,13,11,2,9
1210,33,No,Travel_Rarely,267,Research & Development,21,3,Medical,1,1698,...,4,80,3,14,6,3,14,11,2,13
1267,34,No,Non-Travel,1375,Sales,10,3,Life Sciences,1,1774,...,3,80,1,15,3,3,15,14,0,7
1373,38,No,Travel_Frequently,1394,Research & Development,8,3,Medical,1,1937,...,3,80,1,20,3,3,20,11,0,7
1416,38,No,Travel_Rarely,1321,Sales,1,4,Life Sciences,1,1995,...,1,80,2,16,3,3,15,13,5,8
1441,56,No,Non-Travel,667,Research & Development,1,4,Life Sciences,1,2026,...,1,80,1,13,2,2,13,12,1,9
1447,36,No,Non-Travel,301,Sales,15,4,Marketing,1,2036,...,1,80,1,15,4,2,15,12,11,11

In [9]:
# lets find out employees who do not travel or travel frequently and get more than 15000 dollars monthly salary 
x = data[(data['BusinessTravel'] == 'Non-Travel') | (data['BusinessTravel'] == 'Travel_Frequently')]
x[data['MonthlyIncome'] > 15000][['BusinessTravel','MonthlyIncome']]

c:\users\roshan\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

         BusinessTravel  MonthlyIncome
105          Non-Travel          18844
106   Travel_Frequently          18172
112          Non-Travel          17328
119   Travel_Frequently          16959
147   Travel_Frequently          17181
194          Non-Travel          16792
237          Non-Travel          19068
290   Travel_Frequently          18665
326   Travel_Frequently          19272
400   Travel_Frequently          19197
477   Travel_Frequently          18200
584   Travel_Frequently          18430
653          Non-Travel          17924
710          Non-Travel          17444
716   Travel_Frequently          19419
746          Non-Travel          19973
774          Non-Travel          16756
804          Non-Travel          16885
867   Travel_Frequently          17856
918   Travel_Frequently          19847
936   Travel_Frequently          18061
954          Non-Travel          17861
1055  Travel_Frequently          17007
1076  Travel_Frequently          16032
1166  Travel_Frequently          15202
1301         Non-Travel          16291
1310  Travel_Frequently          15787
1351  Travel_Frequently          17174
1377  Travel_Frequently          19161
1437         Non-Travel          19431