In [4]:
# importing the basic libraries
import numpy as np
import pandas as pd

In [2]:
# lets import a dataset to perform the operations
data = pd.read_csv('Datasets/employee.csv')

# lets check the shape of the dataset
data.shape

(1470, 35)

In [3]:
# lets check the structure of the dataset
data.head(3)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0

### The Functions which will help us to identify the null values present in the dataframes

#### The Functions which help us to know whether the data is null or not
* ```isnull()```: Indicates the presence of Missing values in a dataset, return boolean values. i.e., It will return True if the data is missing and False if the data is not missing.
* ```notnull()```: This Function is completely the Opposite of ```isnull()```, It also returns boolean values.

#### The Functions which helps us to compute operations to check  whether all or some data is missing
* ```any()```: It will be used where we want to include all the data for operations and Identification.
* ```all()```: It will be used where we are only checking on some or any of the data for operations or Identification.

In [6]:
# lets first check if there is any null value present in the data
data.isnull().sum().sum()

0

In [7]:
pd.set_option('max_rows', 1470)
data.isnull().sum(axis = 1)

0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
30      0
31      0
32      0
33      0
34      0
35      0
36      0
37      0
38      0
39      0
40      0
41      0
42      0
43      0
44      0
45      0
46      0
47      0
48      0
49      0
50      0
51      0
52      0
53      0
54      0
55      0
56      0
57      0
58      0
59      0
60      0
61      0
62      0
63      0
64      0
65      0
66      0
67      0
68      0
69      0
70      0
71      0
72      0
73      0
74      0
75      0
76      0
77      0
78      0
79      0
80      0
81      0
82      0
83      0
84      0
85      0
86      0
87      0
88      0
89      0
90      0
91      0
92      0
93      0
94      0
95      0
96      0
97      0
98      0
99      0
100     0
101     0
102     0
103     0
104     0
105     0
106     0
107     0
108     0
109     0
110     0
111     0
112     0
113     0
114     0
115     0
116     0
117     0
118     0
119     0
120     0
121     0
122     0
123     0
124     0
125     0
126     0
127     0
128     0
129     0
130     0
131     0
132     0
133     0
134     0
135     0
136     0
137     0
138     0
139     0
140     0
141     0
142     0
143     0
144     0
145     0
146     0
147     0
148     0
149     0
150     0
151     0
152     0
153     0
154     0
155     0
156     0
157     0
158     0
159     0
160     0
161     0
162     0
163     0
164     0
165     0
166     0
167     0
168     0
169     0
170     0
171     0
172     0
173     0
174     0
175     0
176     0
177     0
178     0
179     0
180     0
181     0
182     0
183     0
184     0
185     0
186     0
187     0
188     0
189     0
190     0
191     0
192     0
193     0
194     0
195     0
196     0
197     0
198     0
199     0
200     0
201     0
202     0
203     0
204     0
205     0
206     0
207     0
208     0
209     0
210     0
211     0
212     0
213     0
214     0
215     0
216     0
217     0
218     0
219     0
220     0
221     0
222     0
223     0
224     0
225     0
226     0
227     0
228     0
229     0
230     0
231     0
232     0
233     0
234     0
235     0
236     0
237     0
238     0
239     0
240     0
241     0
242     0
243     0
244     0
245     0
246     0
247     0
248     0
249     0
250     0
251     0
252     0
253     0
254     0
255     0
256     0
257     0
258     0
259     0
260     0
261     0
262     0
263     0
264     0
265     0
266     0
267     0
268     0
269     0
270     0
271     0
272     0
273     0
274     0
275     0
276     0
277     0
278     0
279     0
280     0
281     0
282     0
283     0
284     0
285     0
286     0
287     0
288     0
289     0
290     0
291     0
292     0
293     0
294     0
295     0
296     0
297     0
298     0
299     0
300     0
301     0
302     0
303     0
304     0
305     0
306     0
307     0
308     0
309     0
310     0
311     0
312     0
313     0
314     0
315     0
316     0
317     0
318     0
319     0
320     0
321     0
322     0
323     0
324     0
325     0
326     0
327     0
328     0
329     0
330     0
331     0
332     0
333     0
334     0
335     0
336     0
337     0
338     0
339     0
340     0
341     0
342     0
343     0
344     0
345     0
346     0
347     0
348     0
349     0
350     0
351     0
352     0
353     0
354     0
355     0
356     0
357     0
358     0
359     0
360     0
361     0
362     0
363     0
364     0
365     0
366     0
367     0
368     0
369     0
370     0
371     0
372     0
373     0
374     0
375     0
376     0
377     0
378     0
379     0
380     0
381     0
382     0
383     0
384     0
385     0
386     0
387     0
388     0
389     0
390     0
391     0
392     0
393     0
394     0
395     0
396     0
397     0
398     0
399     0
400     0
401     0
402     0
403     0
404     0
405     0
406     0
407     0
408     0
409     0
410     0
411     0
412     0
413     0
414     0
415     0
416     0
417     0
418     0
419     0
420     0
421     0
422     0
423     0
424     0
425     0
426     0
427     0
428     0
429     0
430     0
431     0
432     0
433     0
434     0
435     0
436     0
437     0
438     0
439     0
440     0
441     0
442     0
443     0
444     0
445     0
446     0
447     0
448     0
449     0
450     0
451     0
452     0
453     0
454     0
455     0
456     0
457     0
458     0
459     0
460     0
461     0
462     0
463     0
464     0
465     0
466     0
467     0
468     0
469     0
470     0
471     0
472     0
473     0
474     0
475     0
476     0
477     0
478     0
479     0
480     0
481     0
482     0
483     0
484     0
485     0
486     0
487     0
488     0
489     0
490     0
491     0
492     0
493     0
494     0
495     0
496     0
497     0
498     0
499     0
500     0
501     0
502     0
503     0
504     0
505     0
506     0
507     0
508     0
509     0
510     0
511     0
512     0
513     0
514     0
515     0
516     0
517     0
518     0
519     0
520     0
521     0
522     0
523     0
524     0
525     0
526     0
527     0
528     0
529     0
530     0
531     0
532     0
533     0
534     0
535     0
536     0
537     0
538     0
539     0
540     0
541     0
542     0
543     0
544     0
545     0
546     0
547     0
548     0
549     0
550     0
551     0
552     0
553     0
554     0
555     0
556     0
557     0
558     0
559     0
560     0
561     0
562     0
563     0
564     0
565     0
566     0
567     0
568     0
569     0
570     0
571     0
572     0
573     0
574     0
575     0
576     0
577     0
578     0
579     0
580     0
581     0
582     0
583     0
584     0
585     0
586     0
587     0
588     0
589     0
590     0
591     0
592     0
593     0
594     0
595     0
596     0
597     0
598     0
599     0
600     0
601     0
602     0
603     0
604     0
605     0
606     0
607     0
608     0
609     0
610     0
611     0
612     0
613     0
614     0
615     0
616     0
617     0
618     0
619     0
620     0
621     0
622     0
623     0
624     0
625     0
626     0
627     0
628     0
629     0
630     0
631     0
632     0
633     0
634     0
635     0
636     0
637     0
638     0
639     0
640     0
641     0
642     0
643     0
644     0
645     0
646     0
647     0
648     0
649     0
650     0
651     0
652     0
653     0
654     0
655     0
656     0
657     0
658     0
659     0
660     0
661     0
662     0
663     0
664     0
665     0
666     0
667     0
668     0
669     0
670     0
671     0
672     0
673     0
674     0
675     0
676     0
677     0
678     0
679     0
680     0
681     0
682     0
683     0
684     0
685     0
686     0
687     0
688     0
689     0
690     0
691     0
692     0
693     0
694     0
695     0
696     0
697     0
698     0
699     0
700     0
701     0
702     0
703     0
704     0
705     0
706     0
707     0
708     0
709     0
710     0
711     0
712     0
713     0
714     0
715     0
716     0
717     0
718     0
719     0
720     0
721     0
722     0
723     0
724     0
725     0
726     0
727     0
728     0
729     0
730     0
731     0
732     0
733     0
734     0
735     0
736     0
737     0
738     0
739     0
740     0
741     0
742     0
743     0
744     0
745     0
746     0
747     0
748     0
749     0
750     0
751     0
752     0
753     0
754     0
755     0
756     0
757     0
758     0
759     0
760     0
761     0
762     0
763     0
764     0
765     0
766     0
767     0
768     0
769     0
770     0
771     0
772     0
773     0
774     0
775     0
776     0
777     0
778     0
779     0
780     0
781     0
782     0
783     0
784     0
785     0
786     0
787     0
788     0
789     0
790     0
791     0
792     0
793     0
794     0
795     0
796     0
797     0
798     0
799     0
800     0
801     0
802     0
803     0
804     0
805     0
806     0
807     0
808     0
809     0
810     0
811     0
812     0
813     0
814     0
815     0
816     0
817     0
818     0
819     0
820     0
821     0
822     0
823     0
824     0
825     0
826     0
827     0
828     0
829     0
830     0
831     0
832     0
833     0
834     0
835     0
836     0
837     0
838     0
839     0
840     0
841     0
842     0
843     0
844     0
845     0
846     0
847     0
848     0
849     0
850     0
851     0
852     0
853     0
854     0
855     0
856     0
857     0
858     0
859     0
860     0
861     0
862     0
863     0
864     0
865     0
866     0
867     0
868     0
869     0
870     0
871     0
872     0
873     0
874     0
875     0
876     0
877     0
878     0
879     0
880     0
881     0
882     0
883     0
884     0
885     0
886     0
887     0
888     0
889     0
890     0
891     0
892     0
893     0
894     0
895     0
896     0
897     0
898     0
899     0
900     0
901     0
902     0
903     0
904     0
905     0
906     0
907     0
908     0
909     0
910     0
911     0
912     0
913     0
914     0
915     0
916     0
917     0
918     0
919     0
920     0
921     0
922     0
923     0
924     0
925     0
926     0
927     0
928     0
929     0
930     0
931     0
932     0
933     0
934     0
935     0
936     0
937     0
938     0
939     0
940     0
941     0
942     0
943     0
944     0
945     0
946     0
947     0
948     0
949     0
950     0
951     0
952     0
953     0
954     0
955     0
956     0
957     0
958     0
959     0
960     0
961     0
962     0
963     0
964     0
965     0
966     0
967     0
968     0
969     0
970     0
971     0
972     0
973     0
974     0
975     0
976     0
977     0
978     0
979     0
980     0
981     0
982     0
983     0
984     0
985     0
986     0
987     0
988     0
989     0
990     0
991     0
992     0
993     0
994     0
995     0
996     0
997     0
998     0
999     0
1000    0
1001    0
1002    0
1003    0
1004    0
1005    0
1006    0
1007    0
1008    0
1009    0
1010    0
1011    0
1012    0
1013    0
1014    0
1015    0
1016    0
1017    0
1018    0
1019    0
1020    0
1021    0
1022    0
1023    0
1024    0
1025    0
1026    0
1027    0
1028    0
1029    0
1030    0
1031    0
1032    0
1033    0
1034    0
1035    0
1036    0
1037    0
1038    0
1039    0
1040    0
1041    0
1042    0
1043    0
1044    0
1045    0
1046    0
1047    0
1048    0
1049    0
1050    0
1051    0
1052    0
1053    0
1054    0
1055    0
1056    0
1057    0
1058    0
1059    0
1060    0
1061    0
1062    0
1063    0
1064    0
1065    0
1066    0
1067    0
1068    0
1069    0
1070    0
1071    0
1072    0
1073    0
1074    0
1075    0
1076    0
1077    0
1078    0
1079    0
1080    0
1081    0
1082    0
1083    0
1084    0
1085    0
1086    0
1087    0
1088    0
1089    0
1090    0
1091    0
1092    0
1093    0
1094    0
1095    0
1096    0
1097    0
1098    0
1099    0
1100    0
1101    0
1102    0
1103    0
1104    0
1105    0
1106    0
1107    0
1108    0
1109    0
1110    0
1111    0
1112    0
1113    0
1114    0
1115    0
1116    0
1117    0
1118    0
1119    0
1120    0
1121    0
1122    0
1123    0
1124    0
1125    0
1126    0
1127    0
1128    0
1129    0
1130    0
1131    0
1132    0
1133    0
1134    0
1135    0
1136    0
1137    0
1138    0
1139    0
1140    0
1141    0
1142    0
1143    0
1144    0
1145    0
1146    0
1147    0
1148    0
1149    0
1150    0
1151    0
1152    0
1153    0
1154    0
1155    0
1156    0
1157    0
1158    0
1159    0
1160    0
1161    0
1162    0
1163    0
1164    0
1165    0
1166    0
1167    0
1168    0
1169    0
1170    0
1171    0
1172    0
1173    0
1174    0
1175    0
1176    0
1177    0
1178    0
1179    0
1180    0
1181    0
1182    0
1183    0
1184    0
1185    0
1186    0
1187    0
1188    0
1189    0
1190    0
1191    0
1192    0
1193    0
1194    0
1195    0
1196    0
1197    0
1198    0
1199    0
1200    0
1201    0
1202    0
1203    0
1204    0
1205    0
1206    0
1207    0
1208    0
1209    0
1210    0
1211    0
1212    0
1213    0
1214    0
1215    0
1216    0
1217    0
1218    0
1219    0
1220    0
1221    0
1222    0
1223    0
1224    0
1225    0
1226    0
1227    0
1228    0
1229    0
1230    0
1231    0
1232    0
1233    0
1234    0
1235    0
1236    0
1237    0
1238    0
1239    0
1240    0
1241    0
1242    0
1243    0
1244    0
1245    0
1246    0
1247    0
1248    0
1249    0
1250    0
1251    0
1252    0
1253    0
1254    0
1255    0
1256    0
1257    0
1258    0
1259    0
1260    0
1261    0
1262    0
1263    0
1264    0
1265    0
1266    0
1267    0
1268    0
1269    0
1270    0
1271    0
1272    0
1273    0
1274    0
1275    0
1276    0
1277    0
1278    0
1279    0
1280    0
1281    0
1282    0
1283    0
1284    0
1285    0
1286    0
1287    0
1288    0
1289    0
1290    0
1291    0
1292    0
1293    0
1294    0
1295    0
1296    0
1297    0
1298    0
1299    0
1300    0
1301    0
1302    0
1303    0
1304    0
1305    0
1306    0
1307    0
1308    0
1309    0
1310    0
1311    0
1312    0
1313    0
1314    0
1315    0
1316    0
1317    0
1318    0
1319    0
1320    0
1321    0
1322    0
1323    0
1324    0
1325    0
1326    0
1327    0
1328    0
1329    0
1330    0
1331    0
1332    0
1333    0
1334    0
1335    0
1336    0
1337    0
1338    0
1339    0
1340    0
1341    0
1342    0
1343    0
1344    0
1345    0
1346    0
1347    0
1348    0
1349    0
1350    0
1351    0
1352    0
1353    0
1354    0
1355    0
1356    0
1357    0
1358    0
1359    0
1360    0
1361    0
1362    0
1363    0
1364    0
1365    0
1366    0
1367    0
1368    0
1369    0
1370    0
1371    0
1372    0
1373    0
1374    0
1375    0
1376    0
1377    0
1378    0
1379    0
1380    0
1381    0
1382    0
1383    0
1384    0
1385    0
1386    0
1387    0
1388    0
1389    0
1390    0
1391    0
1392    0
1393    0
1394    0
1395    0
1396    0
1397    0
1398    0
1399    0
1400    0
1401    0
1402    0
1403    0
1404    0
1405    0
1406    0
1407    0
1408    0
1409    0
1410    0
1411    0
1412    0
1413    0
1414    0
1415    0
1416    0
1417    0
1418    0
1419    0
1420    0
1421    0
1422    0
1423    0
1424    0
1425    0
1426    0
1427    0
1428    0
1429    0
1430    0
1431    0
1432    0
1433    0
1434    0
1435    0
1436    0
1437    0
1438    0
1439    0
1440    0
1441    0
1442    0
1443    0
1444    0
1445    0
1446    0
1447    0
1448    0
1449    0
1450    0
1451    0
1452    0
1453    0
1454    0
1455    0
1456    0
1457    0
1458    0
1459    0
1460    0
1461    0
1462    0
1463    0
1464    0
1465    0
1466    0
1467    0
1468    0
1469    0
dtype: int64

**We can see that, there are no missing values in the dataset**

* Using ```isnull()``` function returns true, If there any data present in the cell and false if there is no data present in the cell.
&nbsp;

* Using ```isnull().sum()``` function would return the sum of null values present in each of the columns.
&nbsp;

* Using ```isnull().sum().sum()``` function would return the totak number of null values or missing values present in a dataset or dataframe.
&nbsp;

* In the Above Result we can see that every columns present in the dataset are having 0 null values, that means there is no null data in the dataframe.

In [2]:
# lets try to take another dataframe, and try to handle missing values in the dataframe

data = pd.read_csv('melbourne.csv')
data.shape

(23547, 21)

In [3]:
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,03-09-2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,03-12-2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,04-02-2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,04-02-2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,04-03-2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0

In [19]:
# lets check the basic information about the data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23547 entries, 0 to 23546
Data columns (total 21 columns):
Suburb           23547 non-null object
Address          23547 non-null object
Rooms            23547 non-null int64
Type             23547 non-null object
Price            18396 non-null float64
Method           23547 non-null object
SellerG          23547 non-null object
Date             23547 non-null object
Distance         23546 non-null float64
Postcode         23546 non-null float64
Bedroom2         19066 non-null float64
Bathroom         19063 non-null float64
Car              18921 non-null float64
Landsize         17410 non-null float64
BuildingArea     10018 non-null float64
YearBuilt        11540 non-null float64
CouncilArea      15656 non-null object
Lattitude        19243 non-null float64
Longtitude       19243 non-null float64
Regionname       23546 non-null object
Propertycount    23546 non-null float64
dtypes: float64(12), int64(1), object(8)
memory usage: 3.8+ MB

In [5]:
data.shape

(23547, 21)

In [6]:
# lets check whether this dataset is having any null values or not

# first lets check how many rows are having all the null values
data.isnull().all(axis = 1).sum()

0

* The returned value is the total number of missing values in the dataframe
* 66, 918 number of data points are missing that is huge.
* let's also check the details of the missing values.
* In the detailed report we will be able to check how many missing values are associated with each of teh columns.

In [7]:
# lets check the number of missing values in the dataset
# we are check the missing values in the context of columns
data.isnull().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             5151
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          4481
Bathroom          4484
Car               4626
Landsize          6137
BuildingArea     13529
YearBuilt        12007
CouncilArea       7891
Lattitude         4304
Longtitude        4304
Regionname           1
Propertycount        1
dtype: int64

* We can see that there are many columns which are having null values, Infact there are some columns where we have huge number of missing values.
* lets also check the percentage of missing values present in the data.

### How to Handle Missing Values from a Dataframe

* **We have already discussed the ways to handle the missing values from the Dataset, but when talking about it in broad sense then only two major choices:**
    * To ```drop/delete``` the missing values
    * To ```impute``` the missinng values
    
* **We have to take decision regarding which of the two options to go with depending on the missing values**.
    * We can drop/delete the missinng values only when the missing percentage is more than 50% or it is not so important.
    * in that case, we have to impute the values using any of the methods listed in the introduction part.
    
lets take some examples using the available dataset to check how to impute or delelete the missing values

### Methods we will use to Impute Missing Values

* There are many ways to Impute Missing Values, some of them which are popularly used:
    * ```dropna()```: This Function is used to drops the missing values from a dataset and returns the rest of the dataframe.
    * ```fillna()```: This Function is used to replace the missing value with a specified value.

In [35]:
# lets check the percentage of missing values in the columns of the dataset

percentage_of_missing_values = round(100*(data.isnull().sum()/len(data.index)), 2)
print(percentage_of_missing_values)

Suburb            0.00
Address           0.00
Rooms             0.00
Type              0.00
Price            21.88
Method            0.00
SellerG           0.00
Date              0.00
Distance          0.00
Postcode          0.00
Bedroom2         19.03
Bathroom         19.04
Car              19.65
Landsize         26.06
BuildingArea     57.46
YearBuilt        50.99
CouncilArea      33.51
Lattitude        18.28
Longtitude       18.28
Regionname        0.00
Propertycount     0.00
dtype: float64

<p style="color: green;">It can be noticed very easily from the above results that there are many columns have huge percentage of data missing from the dataset. There are columns which are having ```18% to 26%``` of values missing from the data, and also there are some columns which are having ```33% to 56%``` of values missing from the data.

* What action should we take, should we remove them all, or impute.
    * We ```cannot remove the columns having 18% to 26% missing values```, so In this case we will have to impute the missing values using one of the methods.
        * It is very important to impute the missing values for these columns as If we remove these columns from the data having only 18 to 26% of the missing values then we will face huge data loss, In that case, We might lose some of the very important and relevant data for the analysis and results.
    
    * But, ```We can remove the columns having 33 to 56% of missing values```, so In this case will have to drop these columns from the data.
        * It is very important to remove these columns because if we impute these missing values then we can introduce a huge bias into the data, which will be bad for the analysis of the data, It might also return inappropriate and misleading results.

### Deleting the Columns using drop() Function

In [8]:
# removing the three columns having 33% to 56% of missing values in the dataset
data = data.drop('BuildingArea', axis=1)
data = data.drop('YearBuilt', axis=1)
data = data.drop('CouncilArea', axis=1)

# data = data.drop(['Building Area', 'YearBuilt', 'CouncilArea'], axis = 1)

# lets check the columns left after the deletion of above listed columns
data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'Lattitude', 'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [9]:
# count the number of rows having > 5 missing values
# use len(df.index)
len(data[data.isnull().sum(axis=1) > 5].index)

4278

In [10]:
# retaining the rows having <= 5 NaNs
data = data[data.isnull().sum(axis=1) <= 5]

In [11]:
# look at the summary again
round(100*(data.isnull().sum()/len(data.index)), 2)

Suburb            0.00
Address           0.00
Rooms             0.00
Type              0.00
Price            21.71
Method            0.00
SellerG           0.00
Date              0.00
Distance          0.00
Postcode          0.00
Bedroom2          1.05
Bathroom          1.07
Car               1.81
Landsize          9.65
Lattitude         0.13
Longtitude        0.13
Regionname        0.00
Propertycount     0.00
dtype: float64

* It can be seen that ```Price Column``` still has large number of missing values i.e., 21% of the data is missing. If we impute these values it will introduce heavy bias into the data and the results will be misleading so It is better to discard the rows where Price is having missing values.

In [12]:
# removing all the rows where there is a missing value in the Price Column
data = data[~np.isnan(data['Price'])]

In [51]:
# look at the summary again
round(100*(data.isnull().sum()/len(data.index)), 2)

Suburb           0.00
Address          0.00
Rooms            0.00
Type             0.00
Price            0.00
Method           0.00
SellerG          0.00
Date             0.00
Distance         0.00
Postcode         0.00
Bedroom2         1.05
Bathroom         1.07
Car              1.76
Landsize         9.83
Lattitude        0.15
Longtitude       0.15
Regionname       0.00
Propertycount    0.00
dtype: float64

* Now, we have Landsize, which is having high percentage of missing values, lets check the range of values present in the Landsize attribute of the data, so that we can impute the missing values present in the Landsize Attribute.

In [52]:
# lets check the description of values in the Landsize Column
data['Landsize'].describe()

count     13603.000000
mean        558.116371
std        3987.326586
min           0.000000
25%         176.500000
50%         440.000000
75%         651.000000
max      433014.000000
Name: Landsize, dtype: float64

* From the above description of the range of values present in the landsize columns supported by mean, standard deviatio, minimum, maximum, 25% percentile, 50% percentile, 75% percentile etc.

* We can see that the Minimum value is 0 and Maximum value is 433014, there is huge difference so both mean and median function would not work

* Also, there is a huge difference in the 25th, 50th, and 75th percentiles indicating that if we impute the values for Landsize column we will most probably introduce bias into the data.

* It is most appropriate to remove the rows where we find null values for Landsize.

In [13]:
# removing  all the rows where there is a null value in the landsize column
data = data[~np.isnan(data['Landsize'])]

# lets check the summary again
round(100*(data.isnull().sum()/len(data.index)), 2)

Suburb           0.00
Address          0.00
Rooms            0.00
Type             0.00
Price            0.00
Method           0.00
SellerG          0.00
Date             0.00
Distance         0.00
Postcode         0.00
Bedroom2         0.00
Bathroom         0.01
Car              0.46
Landsize         0.00
Lattitude        0.16
Longtitude       0.16
Regionname       0.00
Propertycount    0.00
dtype: float64

* We can see that now we have very low fraction of missing values in the columns Bathroom, Car, Lattitude, and Longitude
* Lets check the range values of Lattitude and Longitude.

In [55]:
# describing the values for lattitude and longitude
data[['Lattitude','Longtitude']].describe()

          Lattitude    Longtitude
count  13581.000000  13581.000000
mean     -37.809204    144.995221
std        0.079257      0.103913
min      -38.182550    144.431810
25%      -37.856820    144.929600
50%      -37.802360    145.000100
75%      -37.756400    145.058320
max      -37.408530    145.526350

### Imputing using fillna() method

In [14]:
# as there is minute difference between the values of min, mean, max, 25th, 50th, and 75th percentile. 
# so we can use mean function to impute the values in lattitude and longtitude.

data['Lattitude'] = data['Lattitude'].fillna(data['Lattitude'].mean())
data['Longtitude'].fillna(data['Longtitude'].mean(), inplace = True)

In [58]:
# lets check the values present in the Bathroom Column

data['Bathroom'].value_counts()

1.0    7517
2.0    4987
3.0     921
4.0     106
0.0      34
5.0      28
6.0       5
8.0       2
7.0       2
Name: Bathroom, dtype: int64

In [59]:
# lets also check the values present in the Car Column

data['Car'].value_counts()

2.0     5606
1.0     5515
0.0     1026
3.0      748
4.0      507
5.0       63
6.0       54
8.0        9
7.0        8
10.0       3
9.0        1
Name: Car, dtype: int64

In [61]:
# we have to impute the values in Categorical Columns using the Mode function

data['Bathroom'].fillna(data['Bathroom'].mode()[0], inplace = True)
data['Car'].fillna(data['Car'].mode()[0], inplace = True)

In [62]:
# lets check the missing values present in the data

data.isnull().sum().sum()

0

we can see that there no null values left in the dataset i.e., we are done with this tutorial on Handling Missing Values present in Data.