In [1]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#reading the dataset
data = pd.read_csv('employee.csv')
pd.set_option('max_columns', 35)
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,Y,Yes,11,3,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,Y,No,23,4,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,4,Male,92,2,1,Laboratory Technician,3,Single,2090,2396,6,Y,Yes,15,3,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,4,Female,56,3,1,Research Scientist,3,Married,2909,23159,1,Y,Yes,11,3,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,1,Male,40,3,1,Laboratory Technician,2,Married,3468,16632,9,Y,No,12,3,4,80,1,6,3,3,2,2,2,2

In [3]:
pd.crosstab(data['EducationField'], data['Department'])

Department        Human Resources  Research & Development  Sales
EducationField
Human Resources                27                       0      0
Life Sciences                  16                     440    150
Marketing                       0                       0    159
Medical                        13                     363     88
Other                           3                      64     15
Technical Degree                4                      94     34

In [4]:
pd.crosstab(data['EducationField'], data['Department']).style.bar(color=['gold'])

In [5]:
data.groupby(['Department','JobRole'])[['MonthlyIncome',
                                        'MonthlyRate',
                                        'HourlyRate']].agg(['max',
                                                            'min',
                                                            'mean'])

                                                 MonthlyIncome         \
                                                           max    min
Department             JobRole
Human Resources        Human Resources                   10725   1555
                       Manager                           19717  14026
Research & Development Healthcare Representative         13966   4000
                       Laboratory Technician              7403   1102
                       Manager                           19999  11244
                       Manufacturing Director            13973   4011
                       Research Director                 19973  11031
                       Research Scientist                 9724   1009
Sales                  Manager                           19847  11557
                       Sales Executive                   13872   4001
                       Sales Representative               6632   1052

                                                               MonthlyRate  \
                                                          mean         max
Department             JobRole
Human Resources        Human Resources             4235.750000       26894
                       Manager                    18088.636364       25811
Research & Development Healthcare Representative   7528.763359       26542
                       Laboratory Technician       3237.169884       26914
                       Manager                    17130.333333       26582
                       Manufacturing Director      7295.137931       26767
                       Research Director          16033.550000       26862
                       Research Scientist          3239.972603       26999
Sales                  Manager                    16986.972973       25846
                       Sales Executive             6924.279141       26997
                       Sales Representative        2626.000000       26956

                                                                      \
                                                   min          mean
Department             JobRole
Human Resources        Human Resources            2097  13292.403846
                       Manager                    4022  14441.181818
Research & Development Healthcare Representative  2094  14400.198473
                       Laboratory Technician      2104  14066.061776
                       Manager                    2437  15289.055556
                       Manufacturing Director     2323  14478.965517
                       Research Director          2125  15080.550000
                       Research Scientist         2122  13927.113014
Sales                  Manager                    2493  15129.054054
                       Sales Executive            2137  14471.110429
                       Sales Representative       2539  14278.204819

                                                 HourlyRate
                                                        max min       mean
Department             JobRole
Human Resources        Human Resources                  100  31  64.173077
                       Manager                           99  30  64.909091
Research & Development Healthcare Representative        100  30  66.839695
                       Laboratory Technician            100  30  66.683398
                       Manager                           99  30  65.814815
                       Manufacturing Director           100  30  65.006897
                       Research Director                 99  30  63.762500
                       Research Scientist               100  30  66.708904
Sales                  Manager                           94  31  68.891892
                       Sales Executive                  100  30  65.438650
                       Sales Representative             100  30  64.337349

In [6]:
data.groupby(['Department','JobRole'])[['MonthlyIncome',
                                        'MonthlyRate',
                                        'HourlyRate']].agg(['max',
                                                            'min',
                                                            'mean']).style.background_gradient(
    cmap='copper')